extends layout

block content

  script(src="/javascripts/three.min.js")
  script(src="/javascripts/OrbitControls.js")
  script(src="/javascripts/physi.js")
  div#app
  script(src="/javascripts/ajax.js")
  script(src="/javascripts/main.js")
